<h2><%= "#{@user.name}'s Home Page" %></h2>

<%= link_to "Edit User Profile", edit_user_path(@user) %>
<br>

<!-- add a checkbox to conditionally show by which status is selected -->

<ul>All Appointments Scheduled by <%= @user.name %>
  <ul>Open Appointments:
  <% @user.appointments.open.each do |appointment| %>
    <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
    <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
    <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
    <br>
  <% end %>
  </ul>

  <ul>Pending Appointments:
  <% @user.appointments.pending.each do |appointment| %>
    <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
    <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
    <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
    <br>
  <% end %>
  </ul>

  <ul>Closed Appointments:
  <% @user.appointments.closed.each do |appointment| %>
    <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
    <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
    <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
    <br>
  <% end %>
  </ul>

  <ul>Cancelled Appointments:
  <% @user.appointments.cancelled.each do |appointment| %>
    <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
    <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
    <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
    <br>
  <% end %>
  </ul>
  <!-- *click to edit appointment -->
</ul>

