<h2><%= "#{@user.name}'s Home Page" %></h2>

<!-- <div id="editUserResult">
  <h2 id="editUserName"></h2>
  <p id="editUserEmail"></p>
</div> -->

<!-- <button>Edit User Profile</button> -->
<!-- <br><br> -->
<div><%= link_to "Edit User Profile", edit_user_path(@user) %></div>
<!-- <br> -->

<%#= render partial: "form", locals: {user: @user} %>

<br>
<%= form_for(@user) do |f| %>
  <%= f.select(:status, [["All", "all"], ["Open", "open"], ["Closed", "closed"], ["Pending", "pending"]], selected: @status_filter) %>
<% end %>

<ul>All Appointments Scheduled by <%= @user.name %>
  <% if ["open", "all"].include?(@status_filter) %>
    <ul>Open Appointments:
    <% @user.appointments.open.each do |appointment| %>
      <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
      <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
      <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
      <br>
    <% end %>
    </ul>
  <% end %>

  <% if ["pending", "all"].include?(@status_filter) %>
    <ul>Pending Appointments:
    <% @user.appointments.pending.each do |appointment| %>
      <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
      <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
      <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
      <br>
    <% end %>
    </ul>
  <% end %>

  <% if ["closed", "all"].include?(@status_filter) %>
    <ul>Closed Appointments:
    <% @user.appointments.closed.each do |appointment| %>
      <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
      <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
      <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
      <br>
    <% end %>
    </ul>
  <% end %>

  <% if ["cancelled", "all"].include?(@status_filter) %>
    <ul>Cancelled Appointments:
    <% @user.appointments.cancelled.each do |appointment| %>
      <ul> Scheduled for: <%= appointment.scheduled_for %></ul>
      <ul><%= appointment.vehicle.customer.name %> - <%= appointment.vehicle.vehicle_description %></ul>
      <ul><%#= link_to("click to edit appointment", edit_customer_vehicle_appointment_path(appointment)) %></ul>
      <br>
    <% end %>
    </ul>
  <% end %>
  <!-- *click to edit appointment -->
</ul>

<script type="text/javascript" charset="utf-8">
  // $(function () {
  //   $('form').submit(function(event) {
  //     event.preventDefault()

  //     const values = $(this).serialize()
  //     const id = window.location.href.split("/").slice(-1)[0]
  //     const posting = $.post('/user/' + id, values)

  //     posting.done(function(data) {
  //       const post = data
  //       $("#editUserName").text(post["name"])
  //       $("#editUserEmail").text(post["email"])
  //     })
  //   })
  // })
</script>
