<h3>All Customers</h3>
<h6>Click on name to go to profile page or on the link below to add a new customer</h6>
<h5><%= link_to "Add a New Customer", new_customer_path %></h5>
<% @customers.each do |customer| %>
<ul>
  <li><%= link_to customer.name, customer_path(customer) %>: <%= customer.phone_number %></li>
  <button class="js-more" data-id="<%= customer.id %>">Show customer's vehicles</button>
  <div id="vehicle_display-<%= customer.id %>"></div>
  </ul>
</ul>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id")
    $.get("/customers/" + id + "/vehicle_display", function(data) {
      $("#vehicle_display-" + id).html(data)
    })
  })
})
</script>
