 <h3><%= "#{@customer.name}'s Profile" %></h3>

Name: <%= @customer.name %>
<br>
Email: <%= @customer.phone_number %>
<br>

<%= link_to "Edit Customer's Profile", edit_customer_path(@customer) %>
<br>
<%= link_to "Add New Vehicle", new_customer_vehicle_path(@customer, @vehicle) %>
<br>

<% @customer.vehicles.each do |vehicle| %>
<li><%= link_to "#{vehicle.year} #{vehicle.make} #{vehicle.model}", customer_vehicle_path(@customer, vehicle) %></li>
<% end %>
