<h3>
  <%=@vehicle.customer.name%>'s
  <%#=@vehicle.vehicle_description%>
  <span id="vehicleYear"><%=@vehicle.year%></span>
  <span id="vehicleMake"><%=@vehicle.make%></span>
  <span id="vehicleModel"><%=@vehicle.model%></span> -
  <span id="vehicleMileage"><%=@vehicle.mileage%></span> miles
</h3>

<button id="vehicleEditButton">Edit Vehicle Info</button>
<br>


<%= link_to "Schedule a Service Appointment", new_customer_vehicle_appointment_path(@customer, @vehicle, @appointment) %>
<!-- should list appointment history -->
<br><br>

<div id="vehicleEditForm" style="display: none">
  <%= render partial: "form", locals: {vehicle: @vehicle} %>
</div>

<script type="text/javascript" charset="utf-8">
  vehicleEdit()
</script>
