Customer: <%= @customer.name %>
<br>
Vehicle: <%= @vehicle.vehicle_description %>
<br>

<%= form_for [@customer, @vehicle, @appointment] do |f| %>
  <div class="field">
    <%= f.label :scheduled_for %>:
    <%= f.date_field :scheduled_for, min: Date.today %>
  </div>


  <div class="field">
    <%= f.label :status %>:
    <%= f.select(:status, [["Open", "open"], ["Closed", "closed"], ["Pending", "pending"]])%>
  </div>
  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
