<!DOCTYPE html>
<html>
  <head>
    <title>AutomotiveServiceAppointmentManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Home", user_path(current_user) %>
        <%= link_to "Customers", customers_path %>
        <%= link_to "Log out", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
        <%= link_to "Create an account", new_user_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
